body{
    background-color: #A9A9A9;
    /* background-color: gainsboro; */
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav{
    height: 21px;
    position: relative;
    top: 0;
    background-color: gainsboro;
}

#BUTONexit{
    width: 20px;
    height: 20px;
    background-color: transparent;
    text-align: right;
    display: block;
}

#BUTONexit > i{
    transform: scale(1.2);
    position: relative;
    left: 2px;
    display: inline;
}

#span_1{
    display: none;
    color: white;
    background-color: red;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-left: 3px;
}

#BUTONexit > i:hover{
    color: red;
}

#BUTONexit > P {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    position: relative;
    top: -3px;
    font-size: 11px;
    margin-left: 327px;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: navy;
}

button{
    margin-left: 195px;
}

select{
    margin-left: 15px;
}

h5{
    margin-left: 15px;
    color: darkslategrey;
    font-weight: 800;
}